@using WebUi.Lib
<div class="main_container">
    <div class="row">

        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="left_col_container">
                <div class="breadcums_block">
                    <ol class="breadcrumb">
                        <li>
                            <a itemprop="url" title="Las Vegas Independent Escorts"
                               href="/">Independent Escorts</a>
                        </li>
                        <li class="active"> <span itemprop="title">Black Escorts</span> </li>
                    </ol>
                </div>
                <h1>Las Vegas Independent Ebony Escorts</h1>
                <div class="row">
                    <p>
                        Are you looking for ebony, chocolate coloured girls to give you some company
                        in Vegas? Look no further because the independent black escorts are there
                        for you. The exceptional <a title="Las Vegas independent escorts"
                                                    href="/">independent escorts in Las Vegas</a> come in a wide variety,
                        some with long necks, hourglass figures, busty bodies and exotic beauty.
                        Here are girls from all lifestyles, with bouncy breasts, thick thighs, light
                        skin, dark skin and many more attributes. Whatever type of girl has ever
                        crossed your mind, she is available. They come with their own unique styles
                        and confidence, waiting for the lucky client to make their selection.
                    </p>
                    <br />
                    <ul id="portfolio-list">
                        <li style="display: block;" class="20-23 2 165-170 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(74)">
                                            <img class="img-responsive"
                                           src="/images/escorts/4_copy3.jpg" alt="Zoe, Bust: 2"
                                           title="Zoe, Bust: 2" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Zoe</h3>
                                    <p>Call Me: <a href="tel:+1209-396-8300">209-396-8300</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(77)">
                                            <img class="img-responsive"
                                           src="/images/escorts/3_copy5.jpg"
                                           alt="Bella, Bust: 2" title="Bella, Bust: 2" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Bella</h3>
                                    <p>Call Me: <a href="tel:+1725-527-6068">725-527-6068</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 3 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(100)">
                                            <img class="img-responsive"
                                           src="/images/escorts/2_copy7.jpg"
                                           alt="Jenna, Bust: 0" title="Jenna, Bust: 0" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Jenna</h3>
                                    <p>Call Me: <a href="tel:+1725-356-6391">725-356-6391</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 3 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(102)">
                                            <img class="img-responsive"
                                           src="/images/escorts/1_copy3.jpg"
                                           alt="Chloe, Bust: 3" title="Chloe, Bust: 3" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Chloe</h3>
                                    <p>Call Me: <a href="tel:+1725-527-8108">725-527-8108</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 4-5 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(103)">
                                            <img class="img-responsive"
                                           src="/images/escorts/2_copy5.jpg"
                                           alt="Delray, Bust: 4" title="Delray, Bust: 4" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Delray</h3>
                                    <p>Call Me: <a href="tel:+1725-356-6356">725-356-6356</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="24-27 3 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(104)">
                                            <img class="img-responsive" src="/images/escorts/0.jpg"
                                           alt="Josephine, Bust: 3"
                                           title="Josephine, Bust: 3" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Josephine</h3>
                                    <p>Call Me: <a href="tel:+1725-234-2789">725-234-2789</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(105)">
                                            <img class="img-responsive"
                                           src="/images/escorts/5_copy2.jpg"
                                           alt="Kissy, Bust: 0" title="Kissy, Bust: 0" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Kissy</h3>
                                    <p>Call Me: <a href="tel:+1502-469-1833">502-469-1833</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(106)">
                                            <img class="img-responsive"
                                           src="/images/escorts/1_copy9.jpg"
                                           alt="Priya, Bust: 2" title="Priya, Bust: 2" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Priya</h3>
                                    <p>Call Me: <a href="tel:+1406-506-5171">406-506-5171</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <div class="article_banner_block">
                        <a href="#" rel="nofollow">
                            <img src="/images/discount.jpg"
                                 alt="Discounts available" title="Discounts available"
                                 class="img-responsive" />
                        </a>
                    </div>
                    <h2>What makes us exceptional?</h2>
                    <img src="/images/pages/2.jpg" style="float:left;margin: 7px 7px 7px 0;"
                         alt="independent black escorts" title="independent black escorts"
                         class="img-responsive">
                    <p>
                        The top-notch beauty and professionalism displayed by <a title="VIP Independent Escorts" href="/vip-escorts.php">our girls</a>
                        keep them on high demand in and around town. All encounters are kept
                        discreet and client confidentiality is maintained too. You can take your
                        pick from highly experienced <a title="Young Independent Escorts"
                                                        href="/young-escorts.php">young</a> girls who have gained a couple of
                        years of experience to rookies who have just started out. All girls at the
                        independent ebony escorts love their work and deliver their services
                        passionately to all their clients. A good number of the girls entertain
                        outstanding personalities such as celebrities, politicians and many others.
                        The independent black escorts ensure that the encounters and experiences
                        with all these people are kept discreet, respectful and professionalism is
                        maintained.
                    </p><br />
                    <p>
                        We do understand the importance of discretion and how it maintains confidence
                        in our services. You might be single or probably in an unhappy relationship
                        and want to spend some time with a girl who will satisfy your erotic desire
                        and tastes. The independent ebony escorts are just a phone call away. She
                        will ensure that the time you shall spend together will forever remain a
                        good memory that you shall cherish, and probably give her another call
                        later.
                    </p><br />
                    <p>
                        Do not just spend your money on any escort service but make the right
                        investment into the independent ebony escorts who already have the
                        reputation behind them. Always go for the best when it comes to investing in
                        your happiness. In most cases, intimacy may be guaranteed during your
                        encounters with escorts.
                    </p><br />
                    <p>
                        The independent black escorts conduct is superb. They are honest and carry
                        themselves with a cool and professional demeanour. What you see in the
                        images is what you will get. Unlike our competitors out there who advertise
                        photos of fake women in their galleries online, all photos on our site are
                        100% genuine. To become one of the leading escort agencies within the city,
                        we have maintained an internal policy of being responsible for our actions.
                    </p><br />
                    <h2>Have fun with independent escorts</h2>
                    <p>
                        <div class="article_banner_block">
                            <a href="http://www.vegaseroticmassage.com/" target="_blank"
                               rel="nofollow">
                                <img src="/images/vegas_photo.jpg" alt="" title=""
                                     class="img-responsive" />
                            </a>
                        </div>
                    </p>
                    <p>
                        Having an escort with you as you explore Las Vegas will make your vacation
                        more memorable. With an escort, you can try doing fun activities that would
                        not have been fun if you had to do it alone. Las Vegas is not considered to
                        be an entertainment capital for nothing. Independent black escorts are one
                        of the best choices for you to hire because they are all fun to be with. Not
                        to mention, with their oozing appeal, then it would have been a joy to be
                        with someone as attractive as these escorts.
                    </p><br />
                    <p>
                        More people like independent black escorts because they look more attractive
                        compared to other kinds of escorts. With these escorts, you can choose
                        whether you want someone slim or voluptuous, blonde or not, and many other
                        styles you want. All these and more will be made available to you once you
                        start choosing from the escorts you want.
                    </p><br />
                    <h2>What to do with your chosen escorts</h2>
                    <p>
                        There are so many things to do with your independent black escorts especially
                        that you are in Vegas. You can explore restaurants, cafes, and hole in the
                        wall food stops if you are up for an exciting food trip. The escorts know
                        where to go and where the best food is, depending on your preference.
                        Another thing you can do is you can visit casinos, five star hotels, and
                        other deluxe offerings that Las Vegas has if you are up for a luxurious
                        experience on your vacation. There are also many romantic activities you can
                        do with the independent escort you like such as treating them out for a
                        romantic dinner.
                    </p><br />
                    <h2>Benefits of our escort site</h2>
                    <p>
                        There are so many benefits that you will get when you choose our escort site.
                        One is that this is reputable, meaning that this is not some scam that will
                        promise you nothing. In fact we promise that you will love our services
                        through the following:
                    </p><br />
                    <ul class="unorder_list">
                        <li>Guaranteed professional service from our independent escorts;</li>
                        <li>Excellent and well-trained escorts;</li>
                        <li>
                            A variety of women to choose from in our selection, depending on your
                            preference;
                        </li>
                        <li>Reasonable pricing for our independent escorts;</li>
                        <li>And other plenty stuff at your advantage.</li>
                    </ul>
                    <h2>Why get an escort? </h2>
                    <p>
                        When traveling to an unfamiliar place alone, it will be boring if you just
                        try to get your trip memorable by only yourself. It is better to get the
                        services of independent escorts. There are also independent ebony escorts if
                        you want one. In this site, you can choose any escort you want just as long
                        as you have the budget. With having your own escort, you will not only enjoy
                        the trip but also, you can feel safer because there you have a local that
                        will tour you to the streets and whereabouts in this wonder city called Las
                        Vegas. Although Las Vegas looks like a rich city because it is in the most
                        powerful country in the world, there will always be bad guys who might trick
                        you since you are a tourist. With having your own independent ebony escorts,
                        you can avoid these kinds of people and you can enjoy your Las Vegas trip
                        safe and sound.
                    </p><br />
                    <h2>What will you get from independent escorts? </h2>
                    <p>
                        Our independent black escorts will help you get a time to remember, since
                        they will be the one to be with you as you go along on a travel. They will
                        be your travel buddy, your romantic date, your date for social gatherings,
                        and your shoulder to cry on, or even your partner. Rest assured that these
                        independent escorts that we have will help you make the most out of your
                        vacation in this wonderful place.
                    </p><br />
                    <p>
                        In a world where it is hard to trust anyone, especially when you are visiting
                        a foreign place, you will need someone whom you can trust and also, spend
                        happy times with. Although it may only be a short while, it is important
                        that you spend this once in a lifetime trip with someone who will make you
                        feel like you are the best man alive. All the things you have only imagined,
                        you can make it come true with having your own independent ebony escorts in
                        town.
                    </p><br />
                    <p>
                        Also, with hiring an Independent black escort, there is no need to worry that
                        you might disappoint your escort because their job is to make you feel happy
                        and satisfied with their job. They know well that it is their job to make
                        their clients feel good about themselves and they also know that their job
                        is to make the clients’ trip as memorable as possible. Also, these
                        independent escorts that at the end of the day, this is just a job that they
                        have to do so no worries because there are no strings attached. Their
                        company will be the best thing that will ever happen in your trip and it
                        will only leave you with happiness and you will crave for more.
                    </p><br />
                    <h2>On your bucket list</h2>
                    <p>
                        Surely, when you experience greatness with our independent escorts, once you
                        come back, you will want to get our services again. This is because our site
                        is successful because we provide the best training for our independent black
                        escorts so that their clients will be loyal customers next time when they
                        come back.
                    </p><br />
                    <p>
                        When you come back, you can still select from the variety of independent
                        women escorts to join you again in your trip. There are not just only
                        independent ebony escorts, or black ones because there are still a lot to
                        choose from, depending on your taste. Next time you pay a visit once again,
                        check out our other independent escorts that may pique your interest.
                    </p>
                    <br />


                </div>
            </div>
            <h2>Check other types of escorts</h2><br />
            <div class="promotional_part">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Female Independent Escorts"
                                   href="/female-escorts.php">Female Escorts</a>
                            </p><br />
                            <p>
                                <a title="Asian Independent Escorts" href="/asian-escorts.php">
                                    Asian
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Blonde Independent Escorts"
                                   href="/blonde-escorts.php">Blonde Escorts</a>
                            </p><br />
                            <p>
                                <a title="Russian Independent Escorts"
                                   href="/russian-escorts.php">Russian Escorts</a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="VIP Independent Escorts" href="/vip-escorts.php">
                                    VIP
                                    Escorts
                                </a>
                            </p><br />
                            <p>
                                <a title="Young Independent Escorts" href="/young-escorts.php">
                                    Young
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="left_col_container">
                        <p>Girls available for you Mo - Su: 0:00 - 0:00</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="right_col_container">
                        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Las+Vegas+Blvd&amp;aq=&amp;sll=36.114667,-115.109575&amp;sspn=0.003129,0.005681&amp;ie=UTF8&amp;hq=&amp;hnear=S+Las+Vegas+Blvd&amp;t=m&amp;ll=36.111807,-115.169764&amp;spn=0.040217,0.051842&amp;z=14&amp;output=embed"
                                width="100%" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="right_col_container">
                <h2>Advance Filter</h2>
                <div class="advance_filter_container">
                    <div class="advance_filter_block">
                        <h5>Age</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#20-23" title="" rel="20-23">20-23</a></li>
                                <li><a href="#24-27" title="" rel="24-27">24-27</a></li>
                                <li><a href="#28-30" title="" rel="28-30">28-30</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Bust</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#1" title="" rel="1">A</a></li>
                                <li><a href="#2" title="" rel="2">B</a></li>
                                <li><a href="#3" title="" rel="3">C</a></li>
                                <li><a href="#4" title="" rel="4">D</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Height</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#165-170" title="" rel="165-170">165-170</a></li>
                                <li><a href="#171-175" title="" rel="171-175">171-175</a></li>
                                <li><a href="#176-180" title="" rel="176-180">176-180</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Weight</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#80-100" title="" rel="80-100">80-100</a></li>
                                <li><a href="#101-120" title="" rel="101-120">101-120</a></li>
                                <li><a href="#121-140" title="" rel="121-140">121-140</a></li>
                                <li><a href="#141-160" title="" rel="141-160">141-160</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Hair Color</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#Black" title="" rel="Black">Black</a></li>
                                <li><a href="#Brunette" title="" rel="Brunette">Brunette</a></li>
                                <li><a href="#Blonde" title="" rel="Blonde">Blonde</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>