@using WebUi.Lib
<div class="promotional_part">
    <div class="row">
        <br />
        <h1>Las Vegas Independent Escorts</h1>
        <br />
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="promotional_block">
                <h3><img src="/images/glass_icon.png" alt="Glass icon" /> Welcome</h3>
                <p>
                    Welcome to Vegas Independents Escorts!
                    <br><br>
                    We hope you enjoy our escorts site and <span class="solid_red_color">
                        viewing the
                        profiles of ladies
                    </span>. We have huge selection of female escorts that
                    cover Las Vegas.
                    <br><br>
                    Some of our escorts are also available for international travel. Please feel
                    free to contact <span class="solid_red_color">girls for further details</span>.
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="promotional_block">
                <h3><img src="/images/book_icon.png" alt="Book icon" /> How to Book</h3>
                <p>
                    To book an Vegas escort or for further enquiries, please call girls directly
                    <br><br>
                    Please feel free to <span class="solid_red_color">contact girls</span> either
                    via email or phone for any requests or further details on using our escort
                    service.
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="promotional_block">
                <h3><img src="/images/private_icon.png" alt="Private icon" /> Private</h3>
                <p>
                    Escort services of Vegas Independents Escorts is absolutely private.
                    <br><br>
                    Please feel free to contact girls for any further details or to discuss your
                    specific requirements.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main_container">
    <div class="row">



        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="right_col_container">
                <h2>Our Selection</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(76)">
                                    <img class="img-responsive" src="/images/escorts/7_copy2.jpg"
                                         alt="Ally" title="Ally" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Ally</h3>
                            <p>Call Me: <a href="tel:+1725-209-1531">725-209-1531</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(72)">
                                    <img class="img-responsive" src="/images/escorts/5_copy14.jpg"
                                         alt="Brianna" title="Brianna" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Brianna</h3>
                            <p>Call Me: <a href="tel:+1725-527-8959">725-527-8959</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(73)">
                                    <img class="img-responsive" src="/images/escorts/5_copy4.jpg"
                                         alt="Micah" title="Micah" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Micah</h3>
                            <p>Call Me: <a href="tel:+1775-382-7099">775-382-7099</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(74)">
                                    <img class="img-responsive" src="/images/escorts/4_copy3.jpg"
                                         alt="Zoe" title="Zoe" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Zoe</h3>
                            <p>Call Me: <a href="tel:+1209-396-8300">209-396-8300</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(75)">
                                    <img class="img-responsive" src="/images/escorts/6_copy2.jpg"
                                         alt="Candice" title="Candice" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Candice</h3>
                            <p>Call Me: <a href="tel:+1725-527-8828">725-527-8828</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(77)">
                                    <img class="img-responsive" src="/images/escorts/3_copy5.jpg"
                                         alt="Bella" title="Bella" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Bella</h3>
                            <p>Call Me: <a href="tel:+1725-527-6068">725-527-6068</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(78)">
                                    <img class="img-responsive" src="/images/escorts/1_copy19.jpg"
                                         alt="Celine" title="Celine" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Celine</h3>
                            <p>Call Me: <a href="tel:+1725-677-5144">725-677-5144</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(79)">
                                    <img class="img-responsive" src="/images/escorts/5_copy6.jpg"
                                         alt="Jen" title="Jen" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Jen</h3>
                            <p>Call Me: <a href="tel:+1725-356-6500">725-356-6500</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(80)">
                                    <img class="img-responsive" src="/images/escorts/3_copy33.jpg"
                                         alt="Mia" title="Mia" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Mia</h3>
                            <p>Call Me: <a href="tel:+1775-577-7811">775-577-7811</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(81)">
                                    <img class="img-responsive" src="/images/escorts/1_copy21.jpg"
                                         alt="Carol" title="Carol" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Carol</h3>
                            <p>Call Me: <a href="tel:+1725-234-2116">725-234-2116</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(82)">
                                    <img class="img-responsive" src="/images/escorts/3_copy23.jpg"
                                         alt="Paula" title="Paula" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Paula</h3>
                            <p>Call Me: <a href="tel:+1432-465-2089">432-465-2089</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(83)">
                                    <img class="img-responsive" src="/images/escorts/1_copy32.jpg"
                                         alt="Leanne" title="Leanne" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Leanne</h3>
                            <p>Call Me: <a href="tel:+1775-256-4949">775-256-4949</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(84)">
                                    <img class="img-responsive" src="/images/escorts/2_copy33.jpg"
                                         alt="Laura" title="Laura" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Laura</h3>
                            <p>Call Me: <a href="tel:+1725-677-5169">725-677-5169</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(85)">
                                    <img class="img-responsive" src="/images/escorts/5_copy9.jpg"
                                         alt="Annabelle" title="Annabelle" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Annabelle</h3>
                            <p>Call Me: <a href="tel:+1725-356-6435">725-356-6435</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(86)">
                                    <img class="img-responsive" src="/images/escorts/3_copy25.jpg"
                                         alt="Irene" title="Irene" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Irene</h3>
                            <p>Call Me: <a href="tel:+1725-215-7048">725-215-7048</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(87)">
                                    <img class="img-responsive" src="/images/escorts/5_copy18.jpg"
                                         alt="Susanna" title="Susanna" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Susanna</h3>
                            <p>Call Me: <a href="tel:+1909-829-3833">909-829-3833</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(88)">
                                    <img class="img-responsive" src="/images/escorts/3_copy27.jpg"
                                         alt="Alexa" title="Alexa" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Alexa</h3>
                            <p>Call Me: <a href="tel:+1725-226-4718">725-226-4718</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(89)">
                                    <img class="img-responsive" src="/images/escorts/1_copy35.jpg"
                                         alt="Sandra" title="Sandra" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Sandra</h3>
                            <p>Call Me: <a href="tel:+1386-457-4369">386-457-4369</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(90)">
                                    <img class="img-responsive" src="/images/escorts/2_copy27.jpg"
                                         alt="Tara" title="Tara" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Tara</h3>
                            <p>Call Me: <a href="tel:+1209-886-2443">209-886-2443</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(91)">
                                    <img class="img-responsive" src="/images/escorts/4_copy23.jpg"
                                         alt="Anna" title="Anna" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Anna</h3>
                            <p>Call Me: <a href="tel:+1725-900-9623">725-900-9623</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(92)">
                                    <img class="img-responsive" src="/images/escorts/1_copy36.jpg"
                                         alt="Angelina" title="Angelina" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Angelina</h3>
                            <p>Call Me: <a href="tel:+1725-677-5131">725-677-5131</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(93)">
                                    <img class="img-responsive" src="/images/escorts/1_copy2.jpg"
                                         alt="Katie" title="Katie" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Katie</h3>
                            <p>Call Me: <a href="tel:+1725-217-6600">725-217-6600</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(94)">
                                    <img class="img-responsive" src="/images/escorts/1_copy28.jpg"
                                         alt="Lauren" title="Lauren" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Lauren</h3>
                            <p>Call Me: <a href="tel:+1530-444-1771">530-444-1771</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(95)">
                                    <img class="img-responsive" src="/images/escorts/1_copy37.jpg"
                                         alt="Heather" title="Heather" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Heather</h3>
                            <p>Call Me: <a href="tel:+1725-217-9192">725-217-9192</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(96)">
                                    <img class="img-responsive" src="/images/escorts/1_copy38.jpg"
                                         alt="Ally" title="Ally" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Ally</h3>
                            <p>Call Me: <a href="tel:+1725-239-8707">725-239-8707</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(97)">
                                    <img class="img-responsive" src="/images/escorts/5_copy12.jpg"
                                         alt="Kerry" title="Kerry" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Kerry</h3>
                            <p>Call Me: <a href="tel:+1725-527-8989">725-527-8989</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(98)">
                                    <img class="img-responsive" src="/images/escorts/4_copy25.jpg"
                                         alt="Arina" title="Arina" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Arina</h3>
                            <p>Call Me: <a href="tel:+1725-677-5151">725-677-5151</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(99)">
                                    <img class="img-responsive" src="/images/escorts/1_copy39.jpg"
                                         alt="Capri" title="Capri" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Capri</h3>
                            <p>Call Me: <a href="tel:+1725-234-6919">725-234-6919</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(100)">
                                    <img class="img-responsive" src="/images/escorts/2_copy7.jpg"
                                         alt="Jenna" title="Jenna" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Jenna</h3>
                            <p>Call Me: <a href="tel:+1725-356-6391">725-356-6391</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(101)">
                                    <img class="img-responsive" src="/images/escorts/1_copy40.jpg"
                                         alt="Riley" title="Riley" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Riley</h3>
                            <p>Call Me: <a href="tel:+1325-378-6555">325-378-6555</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(102)">
                                    <img class="img-responsive" src="/images/escorts/1_copy3.jpg"
                                         alt="Chloe" title="Chloe" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Chloe</h3>
                            <p>Call Me: <a href="tel:+1725-527-8108">725-527-8108</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(103)">
                                    <img class="img-responsive" src="/images/escorts/2_copy5.jpg"
                                         alt="Delray" title="Delray" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Delray</h3>
                            <p>Call Me: <a href="tel:+1725-356-6356">725-356-6356</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(104)">
                                    <img class="img-responsive" src="/images/escorts/0.jpg"
                                         alt="Josephine" title="Josephine" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Josephine</h3>
                            <p>Call Me: <a href="tel:+1725-234-2789">725-234-2789</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(105)">
                                    <img class="img-responsive" src="/images/escorts/5_copy2.jpg"
                                         alt="Kissy" title="Kissy" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Kissy</h3>
                            <p>Call Me: <a href="tel:+1502-469-1833">502-469-1833</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(106)">
                                    <img class="img-responsive" src="/images/escorts/1_copy9.jpg"
                                         alt="Priya" title="Priya" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Priya</h3>
                            <p>Call Me: <a href="tel:+1406-506-5171">406-506-5171</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(107)">
                                    <img class="img-responsive" src="/images/escorts/2_copy10.jpg"
                                         alt="Amy" title="Amy" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Amy</h3>
                            <p>Call Me: <a href="tel:+1725-527-5940">725-527-5940</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(108)">
                                    <img class="img-responsive" src="/images/escorts/4_copy7.jpg"
                                         alt="Cici" title="Cici" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Cici</h3>
                            <p>Call Me: <a href="tel:+1725-900-2230">725-900-2230</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(109)">
                                    <img class="img-responsive" src="/images/escorts/1_copy12.jpg"
                                         alt="Cindy" title="Cindy" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Cindy</h3>
                            <p>Call Me: <a href="tel:+1725-356-6369">725-356-6369</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(110)">
                                    <img class="img-responsive" src="/images/escorts/2_copy14.jpg"
                                         alt="Kana" title="Kana" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Kana</h3>
                            <p>Call Me: <a href="tel:+1725-356-6446">725-356-6446</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(111)">
                                    <img class="img-responsive" src="/images/escorts/1_copy14.jpg"
                                         alt="Kathi" title="Kathi" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Kathi</h3>
                            <p>Call Me: <a href="tel:+1725-800-9688">725-800-9688</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(112)">
                                    <img class="img-responsive" src="/images/escorts/3_copy15.jpg"
                                         alt="Kumi" title="Kumi" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Kumi</h3>
                            <p>Call Me: <a href="tel:+1725-226-3522">725-226-3522</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(113)">
                                    <img class="img-responsive" src="/images/escorts/3_copy16.jpg"
                                         alt="May" title="May" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>May</h3>
                            <p>Call Me: <a href="tel:+1775-405-6755">775-405-6755</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="escort_display">
                            <div class="escorts_pic_block">
                                <a href="@ProfileLib.GetUrl(114)">
                                    <img class="img-responsive" src="/images/escorts/1_copy16.jpg"
                                         alt="Sella" title="Sella" />
                                </a>
                            </div>
                        </div>
                        <div class="escort_description">
                            <h3>Sella</h3>
                            <p>Call Me: <a href="tel:+1432-300-7899">432-300-7899</a></p>
                        </div>
                    </div>

                </div>
                <br />
            </div>
        </div>




        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="left_col_container">
                <h2>Welcome</h2>
                <p>
                    Your search for the best Las Vegas independent escorts stops right here. You are
                    welcome to choose the best from the pictures that you will see on our website.
                    You can be assured that what you see is what you get. We are not in the business
                    of cheating people out of their money. We are in the business of making sure
                    that you get the best stay with Las Vegas independent escorts. Why should you
                    spend your time alone in his awesome city when you can have a much better time
                    with a stunningly sexy woman draped over your arm?
                </p><br />
                <h2>What to look for in independent escorts Las Vegas</h2>
                <p>
                    What are you looking for in the independent escorts Las Vegas? Well, it really
                    does not matter because there is something for everyone. Would you like to give
                    an <a title="Young Independent Escorts" href="young-escorts.php">
                        young
                        escort
                    </a> who doubles up as a tour guide and shows you around Vegas by the
                    day? There is one for you. Would you like to have a Las Vegas independent
                    escorts who can give you a girlfriend experience for the entire time that you
                    will be a guest in this city? Well, whatever you would like, you just have to
                    say it and you will get the full value for your money. Perhaps you would like to
                    have a dinner companion to that corporate dinner that you are going to attend.
                    There are independent Las Vegas escorts got just that kind of thing.
                </p><br />
                <p>
                    There are many reasons why you would go looking for the escort girls and one of
                    them is that prostitution is illegal in Vegas. Thus, if you are caught
                    soliciting for commercial sex, you could face a harsh penalty. Thus, the option
                    for many people is to use the escort services to get their fulfillment of a good
                    time. This is where the escorts in Las Vegas come in.
                </p><br />
                <h3>Whether you are in Vegas on business of relaxation</h3>
                <p>
                    Las Vegas is not only the pleasure destination of the world, but it is also a
                    major center for business conventions. Thus, if you are travelling to Vegas on
                    business, you may wonder who will accompany you to that business dinner. You can
                    hire an <a title="VIP Independent Escorts" href="vip-escorts.php">
                        independent
                        Las Vegas VIP escort
                    </a> for that. Look for a cultured woman who knows how
                    to conduct a good business conversation. Luckily, many of the independent Vegas
                    escorts are cultured, well educated and are not in the escort of business for
                    lack of something better to do, but it is because they love the business.
                </p>
                <br />
                <p>
                    When looking for the best escorts from an agency, you will know of their
                    qualifications from their profiles, whether they are educated, what they love to
                    do, what they promise their clients and so on. Another important thing is that
                    you will see the images of the independent escorts in Vegas so that you do not
                    hire any one of them blindly. The good thing is that from here, <strong>
                        what you
                        see of the escorts is what you get
                    </strong>, no more no less.
                </p><br />
                <p>
                    In the high season, the demand for the Vegas escort service is high. You need to
                    book in advance. Thankfully, you can book your escorts on our site and when you
                    land in Vegas, she will be ready, waiting for you. Your search for escort ladies
                    is much easier and better yet, you can do it from the comfort of home. You can
                    also browse widely considering factors like age, education, hair color, eye
                    color and anything else that you may fancy and would like your Las Vegas escort
                    independent to have. You can also choose one of our <a title="Asian Independent Escorts" href="asian-escorts.php">
                        Asian
                        escorts
                    </a>.
                </p><br />
                <h2>Out call or in call service for independent escorts Vegas?</h2>
                <p>
                    Mostly, the independent escorts will come with you on your sojourns in Vegas and
                    will even culminate a good day with a night in your hotel room. This way, you
                    can feel safer and more secure since the escorts will be coming to your turf. If
                    you hire an escorts from the back pages, she will most likely insist on both of
                    you going to a place of her choice.
                </p><br />
                <p>
                    There are many benefits of hiring an independent escort in Las Vegas. One of them
                    is companionship and pleasure. Be assured of getting the full value for your
                    money. Another benefit is that you can spend time with an <a title="Russian Independent Escorts" href="russian-escorts.php">escort</a>
                    who doesn’t know any barriers or inhibitions when it comes to sex and giving you
                    a good time. Some of the pleasures they will give you will be hard to get from
                    your spouse or partner.
                </p><br />
                <p>
                    Of the question of to hire or not to hire independent escorts, the choice is
                    entirely yours. You can be prudish and keep to yourself or you can decide to
                    have the time of your life in Vegas, a time that will leave a lasting impression
                    on your mind. The escort Las Vegas independent that you find here will give you
                    real pleasurable times, and the full value for your money. Red head, <a title="Black Independent Escorts" href="black-escorts.php">ebony</a>, <a title="Blonde Independent Escorts" href="blonde-escorts.php">blonde</a>,
                    Russian, Asian… you name them, they are available for you.
                </p><br />
                <h2>Make yourself feel good with Vegas’ independent escorts</h2>
                <p>
                    One of the best things that hiring an independent escorts could bring you is
                    that, you can be just yourself. You do not have to pretend to be anyone else.
                    Whatever your personality is, there is an independent escort that will bring out
                    the best in you. If you are an outgoing kind of person, there is an independent
                    escort that can match your social skills. You can bring her to bars, clubs, or
                    anywhere you can meet other people. If you are a laidback kind of guy, you can
                    bring escorts to a quiet place like the beach or museums, or cafes. Basically,
                    they will just go along with what you want to do. They will always be as fun as
                    they are wherever you two are headed. That is the best characteristic that
                    independent escorts in Las Vegas have.
                </p><br />
                <h2>Why choose independent escorts</h2>
                <p>
                    Of course, you will want someone to spend your travel with. And that someone
                    should not just be anybody who can be such a bore to deal with. This is why
                    <strong>our escorts are the best choice you have</strong>. The escorts will be
                    the best women to be with when it comes to having a vacation at one of the most
                    beautiful places in the world. By being the best, these women are not just the
                    best at being pretty, but they are also the best conversationalists in town.
                    Independent escorts in Las Vegas manage to bring out the best in guys who are
                    somehow shy at meeting women they do not personally know. You would get the best
                    time with them because they can make you do things you did not think you could
                    do with having a reserved personality.
                </p><br />
                <div class="article_banner_block">
                    <a href="http://www.vegaseroticmassage.com/" target="_blank" rel="nofollow">
                        <img src="/images/vegas_photo.jpg" alt="" title=""
                             class="img-responsive" />
                    </a>
                </div>
                <h2>Benefits of our Independent escorts</h2>
                <p>
                    We are known to provide the best escorts in town, and our loyal customers can
                    prove that through their testaments. For now, here is a list of why you should
                    choose our site to give you the best independent escorts in town:
                </p><br />
                <ul class="unorder_list">
                    <li>We have the most beautiful women you will ever see;</li>
                    <li>
                        We have over a hundred women you can select your most favored escort from,
                        based on your desired appearance, race, or body figure;
                    </li>
                    <li>
                        Our Las Vegas independent escorts are intelligent and fun to be with, no
                        dull time with them;
                    </li>
                    <li>
                        Our independent escort is trained with the proper things she should do when
                        meeting and dealing with a customer;
                    </li>
                    <li>
                        We offer the best rates in town, without compromising the quality of our
                        escorts;
                    </li>
                </ul>
                <h2>What will you get from independent escorts? </h2>
                <p>
                    Aside from the treat you will be getting by hiring independent escorts who are
                    not just beautiful on the outside, our escorts are also trained to be a good
                    conversationalist. It means that they are not shy and are interesting to talk
                    to. They know how to make a man become his fun self, especially to customers who
                    are a bit shy at first. Our escorts are also street smart, they know their way
                    into the best places you will want to see in Las Vegas based on your preference.
                </p><br />
                <p>
                    Also, our independent escorts are also pleasurable to be with especially in bed.
                    If you are looking for some fantasy time, then our escorts are the right pick to
                    make your wildest dreams come true. A Las Vegas independent escort can be the
                    best choice for you to begin your fantasy with because she does her job well.
                    Your money will surely be worth with our escorts because they are known to
                    provide the best services you will want your buddy to be. They are the best
                    company to be with as you explore the sights in Las Vegas. Going there alone and
                    not experiencing it with someone attractive will not give you the best
                    experience, so make the most out of your stay and get the services of beautiful
                    women by hiring an independent escort in your Vegas trip.
                </p><br />
                <p>
                    There are just so many surprises waiting for you to discover when hiring our best
                    escorts. Surely, they will also enjoy your company because there are just so
                    many places to visit and activities to do together in one of the best
                    entertainment- filled places in the world. Explore Las Vegas with the best
                    independent escorts and you will have your night to remember.
                </p><br />
                <div class="article_banner_block">
                    <a href="#" rel="nofollow">
                        <img src="/images/discount.jpg"
                             alt="Discounts available" title="Discounts available"
                             class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>








    </div>
    <div class="promotional_part">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="promotional_block">
                    <h3><img src="/images/book_icon.png" alt="Book icon" /> Why us?</h3>
                    <p>
                        We have been in the escort industry for a long time and we know what
                        satisfies our clients
                    </p><br />
                    <p>
                        Trained girls who can give you a great girlfriend experience as well as play
                        the role of formal dinner escorts
                    </p><br />
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="promotional_block">
                    <h3><img src="/images/book_icon.png" alt="Book icon" /> The benefits</h3>
                    <p>
                        We being you escort girls who can act as your tour guides around the city of
                        Vegas and give you a great time in the evening
                    </p><br />
                    <p>
                        We bring you tried, tested and proven services because we have been in the
                        industry for a long time
                    </p><br />
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="promotional_block">
                    <h3><img src="/images/book_icon.png" alt="Book icon" /> Who we are</h3>
                    <p>
                        We are the best and that is why we have withstood the competition for all
                        those years
                    </p><br />
                    <p>
                        We rely on referral services thus we must give our customers the best – we
                        have no option!
                    </p><br />
                </div>
            </div>
        </div>
    </div>
    <h2>Check other types of escorts</h2><br />
    <div class="promotional_part">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="promotional_block">
                    <p>
                        <a title="Asian Independent Escorts" href="/asian-escorts.php">
                            Asian
                            Escorts
                        </a>
                    </p><br />
                    <p>
                        <a title="Black Independent Escorts" href="/black-escorts.php">
                            Black
                            Escorts
                        </a>
                    </p><br />
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="promotional_block">
                    <p>
                        <a title="Blonde Independent Escorts" href="/blonde-escorts.php">
                            Blonde
                            Escorts
                        </a>
                    </p><br />
                    <p>
                        <a title="Russian Independent Escorts" href="/russian-escorts.php">
                            Russian
                            Escorts
                        </a>
                    </p><br />
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="promotional_block">
                    <p><a title="VIP Independent Escorts" href="/vip-escorts.php">VIP Escorts</a></p>
                    <br />
                    <p>
                        <a title="Young Independent Escorts" href="/young-escorts.php">
                            Young
                            Escorts
                        </a>
                    </p><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="left_col_container">
                <p>Girls available for you Mo - Su: 0:00 - 0:00</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="right_col_container">
                <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Las+Vegas+Blvd&amp;aq=&amp;sll=36.114667,-115.109575&amp;sspn=0.003129,0.005681&amp;ie=UTF8&amp;hq=&amp;hnear=S+Las+Vegas+Blvd&amp;t=m&amp;ll=36.111807,-115.169764&amp;spn=0.040217,0.051842&amp;z=14&amp;output=embed"
                        width="100%" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</div>