@using WebUi.Lib
<div class="main_container">
    <div class="row">

        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="left_col_container">
                <div class="breadcums_block">
                    <ol class="breadcrumb">
                        <li>
                            <a title="Las Vegas Independent Escorts"
                               href="/">Independent Escorts</a>
                        </li>
                        <li class="active"> <span>VIP Escorts</span> </li>
                    </ol>
                </div>
                <h1>Las Vegas Independent VIP Escorts</h1>
                <div class="row">
                    <p>
                        If you believe you are VIP, then you deserve VIP escorts. The good thing is
                        that if you are searching for such, you have come to the right place. This
                        is where we connect you with the crème de la crème of the <a title="Las Vegas independent escorts" href="/">independent escort</a>
                        industry of Las Vegas, the independent VIP escorts.
                    </p><br />
                    <ul id="portfolio-list">
                        <li style="display: block;" class="20-23 2 171-175 101-120 Brunette">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(76)">
                                            <img class="img-responsive"
                                           src="/images/escorts/7_copy2.jpg"
                                           alt="Ally - VIP independent escort"
                                           title="Ally - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Ally</h3>
                                    <p>Call Me: <a href="tel:+1725-239-8707">725-239-8707</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(77)">
                                            <img class="img-responsive"
                                           src="/images/escorts/3_copy5.jpg"
                                           alt="Bella - VIP independent escort"
                                           title="Bella - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Bella</h3>
                                    <p>Call Me: <a href="tel:+1725-527-6068">725-527-6068</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(105)">
                                            <img class="img-responsive"
                                           src="/images/escorts/5_copy2.jpg"
                                           alt="Kissy - VIP independent escort"
                                           title="Kissy - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Kissy</h3>
                                    <p>Call Me: <a href="tel:+1502-469-1833">502-469-1833</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Brunette">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(72)">
                                            <img class="img-responsive"
                                           src="/images/escorts/5_copy14.jpg"
                                           alt="Brianna - VIP independent escort"
                                           title="Brianna - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Brianna</h3>
                                    <p>Call Me: <a href="tel:+1725-527-8959">725-527-8959</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Blonde">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(94)">
                                            <img class="img-responsive"
                                           src="/images/escorts/1_copy28.jpg"
                                           alt="Lauren - VIP independent escort"
                                           title="Lauren - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Lauren</h3>
                                    <p>Call Me: <a href="tel:+1530-444-1771">530-444-1771</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 3 171-175 101-120 Blonde">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(75)">
                                            <img class="img-responsive"
                                           src="/images/escorts/6_copy2.jpg"
                                           alt="Candice - VIP independent escort"
                                           title="Candice - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Candice</h3>
                                    <p>Call Me: <a href="tel:+1725-527-8828">725-527-8828</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <div class="article_banner_block">
                        <a href="#" rel="nofollow">
                            <img src="/images/discount.jpg"
                                 alt="Discounts available" title="Discounts available"
                                 class="img-responsive" />
                        </a>
                    </div>
                    <p>
                        VIP means more money, luxury and a great time. But who cares about all that
                        if they can have a great time and get more than enough value for all the
                        money that they have paid? As long as you will get all the value for the
                        money that you pay for something, then it is well worth having. When it
                        comes to high-class escorts, you will notice the difference from a far. They
                        are confident, they carry themselves with class, style and sophistication.
                        These ladies will give you the time of your life and since they are queens,
                        they will treat you like a king.
                    </p><br />
                    <img src="/images/pages/007.jpg" style="float:right;margin: 7px 0 7px 7px;"
                         alt="VIP escorts" title="VIP escorts" class="img-responsive">
                    <p>
                        They are suave, smooth, educated, well kempt and to make it even better, they
                        do not hang out with just every Tom, Dick and Harry. They are VIP. In fact,
                        they are independent Las Vegas VIP escorts. If you hire one of these to show
                        you around the exclusive … yes, you heard right… exclusive clubs because
                        these are VIP escorts and they don’t do ordinary clubs where all the tomboys
                        and the cougars of Las Vegas drink. VIP means very important. You are
                        important too. Why should you settle for a mundane everyday escort when you
                        can have the top of the cream women?
                    </p><br />
                    <h2>Book the independent high class escorts online</h2>
                    <p>
                        <div class="article_banner_block">
                            <a href="http://www.vegaseroticmassage.com/" target="_blank"
                               rel="nofollow">
                                <img src="/images/vegas_photo.jpg" alt="" title=""
                                     class="img-responsive" />
                            </a>
                        </div>
                    </p>
                    <p>
                        The independent VIP escorts are a bit rarer, you see, everything that is very
                        important is rare, isn’t it? There may not be enough of the VIP escorts to
                        go around if there are many corporate events happening in Las Vegas. Be
                        smart, book yours in advance. That way, when you get to Vegas, she will be
                        ready for you.
                    </p><br />
                    <p>
                        What kind of experience should you look forward to with the independent Las
                        Vegas VIP escorts? I would say an exemplary experience and for all the money
                        that you will pay, you will not regret ever spending your money. You will be
                        treated like a jewel and when it comes to pleasures of the flesh, she will
                        not be prudish. She will help you explore your fantasies to the end. Are you
                        looking for kinky experiences? Just let your escort know. Discuss it first
                        and she just could arrange an experience that will take you out of this
                        world and back again… with pleasure.
                    </p><br />
                    <p>
                        But keep in mind that we also have more girls for you, like selection of <a title="Young Independent Escorts" href="/young-escorts.php">
                            young
                            girls
                        </a>, <a title="Blonde Independent Escorts"
                                 href="/blonde-escorts.php">blonde independent escorts</a> and much more.
                        Just give us a call!
                    </p><br />
                    <h2>VIP escorts for VIP </h2>
                    <p>
                        One of the best things that can make your vacation worthwhile, especially
                        when wanting to travel alone is by hiring an escort who will accompany you
                        and give you the best time of your life. Independent VIP escorts are usually
                        the best people who you can share your vacation with. They are smart,
                        attractive and beautiful. They are the perfect fit for a companion as you
                        travel an unknown place to share adventures with someone. Moreover, they
                        exude confidence that it makes them more attractive. It makes your short
                        vacation in this place as fantastic as possible.
                    </p><br />
                    <p>
                        If you really want to spend the luxury of your time by enjoying with the
                        escorts in Las Vegas, then the independent VIP escorts would be the right
                        one for you. They are called VIP escorts for a reason –they will treat you
                        like you are a very important person, someone most important than anybody
                        else. These independent Las Vegas VIP escorts will treat you like a king. It
                        would mean more money than having our ordinary escorts but definitely, the
                        experience will be greater and it will take you onto another level.
                    </p>
                    <br />
                    <img src="/images/pages/008.jpg" style="float:right;margin: 7px 0 7px 7px;"
                         alt="Independent VIP escorts" title="Independent VIP escorts"
                         class="img-responsive">
                    <p>
                        These independent high class escorts are different because they exude another
                        level of confidence. They are not just beautiful, but they are also elegant.
                        They are not just street smart, but they are also intelligent when it comes
                        to speaking with many different kinds of person they are tasked to converse
                        with. These independent Las Vegas VIP escorts are classy and sophisticated.
                        They are perfect to bring when you go to formal events. You can bring her as
                        a date and be amazed at how well she can bring herself when in front of a
                        crowd. Our independent high class escorts know how to handle herself well,
                        so you do not need to worry because she is a woman who exudes beauty and
                        confidence like no other.
                    </p><br />
                    <h2>Benefits of our escort site</h2>
                    <p>
                        We have the best set of independent high class escorts, proven by the myriad
                        of customers we have. They know that we only provide the best and well-
                        trained independent escorts because we only want to satisfy our customers.
                        Here are some of the other benefits that you can get from our independent
                        escorts:
                    </p><br />
                    <ul class="unorder_list">
                        <li>Beautiful, smart, and attractive women available to hire;</li>
                        <li>Great customer service;</li>
                        <li>
                            Guaranteed satisfaction from every service of our independent escorts;
                        </li>
                        <li>Safe and reputable site that does not scam people;</li>
                        <li>
                            A guaranteed great experience with our independent Las Vegas VIP
                            escorts.
                        </li>
                    </ul>
                    <h2>Why choose our Independent Escorts </h2>
                    <img src="/images/pages/009.jpg" style="float:left;margin: 7px 7px 7px 0;"
                         alt="Las Vegas VIP escorts" title="Las Vegas VIP escorts"
                         class="img-responsive">
                    <p>
                        Our independent escorts are a collection of the most beautiful women in Las
                        Vegas. When you view our independent VIP escorts on our website, you will
                        see that they are all confident and powerful looking women that you have
                        never seen before. Also, you do not have to worry because what you see is
                        what you get. We do not trick you into getting a woman who does not really
                        look exactly like who she is on her website profile. We treat our customers
                        fairly and we guarantee that we only give you the satisfaction you deserve,
                        especially when hiring our independent high class escorts.
                    </p><br />
                    <p>
                        Our independent VIP escorts are not just called VIP without a reason. They
                        are high class when it comes to treating you like a king. They know how to
                        make you feel like you are the luckiest man in the world. Our VIP escorts
                        are really rare. Therefore, expect that you will also experience a unique
                        taste of fun, the kind of pleasure that you only thought about in your
                        wildest fantasies.
                    </p><br />
                    <h2>What to get from our independent escorts </h2>
                    <p>
                        You will get all your money’s worth. Our independent Las Vegas VIP escorts
                        know how exactly you want to spend your luxurious VIP experience with, and
                        just tell her and she will do it. She is there for a reason and that reason
                        is to make you feel like a king. Our independent VIP escorts are exclusive,
                        meaning they will not bring you to ordinary clubs. There will be a perfect
                        place for you to enjoy and relax that will be something special for you and
                        your escort.
                    </p><br />
                    <p>
                        Our independent VIP escorts will surely help you make the most out of your
                        stay here in Las Vegas. You will not be an ordinary you when it comes to
                        hiring an independent VIP escort. You can be romantic in any way you want,
                        especially when you take it onto another level by hiring VIP ones.
                    </p>
                    <br />


                </div>
            </div>
            <h2>Check other types of escorts</h2><br />
            <div class="promotional_part">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Asian Independent Escorts" href="/asian-escorts.php">
                                    Asian
                                    Escorts
                                </a>
                            </p><br />
                            <p>
                                <a title="Black Independent Escorts" href="/black-escorts.php">
                                    Black
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Blonde Independent Escorts"
                                   href="/blonde-escorts.php">Blonde Escorts</a>
                            </p><br />
                            <p>
                                <a title="Female Independent Escorts"
                                   href="/female-escorts.php">Female Escorts</a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Russian Independent Escorts"
                                   href="/russian-escorts.php">Russian Escorts</a>
                            </p><br />
                            <p>
                                <a title="Young Independent Escorts" href="/young-escorts.php">
                                    Young
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="left_col_container">
                        <p>Girls available for you Mo - Su: 0:00 - 0:00</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="right_col_container">
                        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Las+Vegas+Blvd&amp;aq=&amp;sll=36.114667,-115.109575&amp;sspn=0.003129,0.005681&amp;ie=UTF8&amp;hq=&amp;hnear=S+Las+Vegas+Blvd&amp;t=m&amp;ll=36.111807,-115.169764&amp;spn=0.040217,0.051842&amp;z=14&amp;output=embed"
                                width="100%" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="right_col_container">
                <h2>Advance Filter</h2>
                <div class="advance_filter_container">
                    <div class="advance_filter_block">
                        <h5>Age</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#20-23" title="" rel="20-23">20-23</a></li>
                                <li><a href="#24-27" title="" rel="24-27">24-27</a></li>
                                <li><a href="#28-30" title="" rel="28-30">28-30</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Bust</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#1" title="" rel="1">A</a></li>
                                <li><a href="#2" title="" rel="2">B</a></li>
                                <li><a href="#3" title="" rel="3">C</a></li>
                                <li><a href="#4" title="" rel="4">D</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Height</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#165-170" title="" rel="165-170">165-170</a></li>
                                <li><a href="#171-175" title="" rel="171-175">171-175</a></li>
                                <li><a href="#176-180" title="" rel="176-180">176-180</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Weight</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#80-100" title="" rel="80-100">80-100</a></li>
                                <li><a href="#101-120" title="" rel="101-120">101-120</a></li>
                                <li><a href="#121-140" title="" rel="121-140">121-140</a></li>
                                <li><a href="#141-160" title="" rel="141-160">141-160</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Hair Color</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#Black" title="" rel="Black">Black</a></li>
                                <li><a href="#Brunette" title="" rel="Brunette">Brunette</a></li>
                                <li><a href="#Blonde" title="" rel="Blonde">Blonde</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>