@using WebUi.Lib
<div class="main_container">
    <div class="row">

        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="left_col_container">
                <div class="breadcums_block">
                    <ol class="breadcrumb">
                        <li>
                            <a title="Las Vegas Independent Escorts"
                               href="/">Independent Escorts</a>
                        </li>
                        <li class="active"> <span>VIP Escorts</span> </li>
                    </ol>
                </div>
                <h1>VIP Escorts of Las Vegas</h1>
                <div class="row">
                    <p>
                        Better than having a key to the city, our VIP Vegas escorts can show you where the action is and help get you in and make certain you are treated like the VIP you are. Skip the lines, brush by the red tape the average tourists deal with, know where to go and whose palms to grease without any guesswork or trial and error. With a VIP escort Las Vegas will open up to you in ways you've only imagined.
                    </p><br />
                    <ul id="portfolio-list">
                        <li style="display: block;" class="20-23 2 171-175 101-120 Brunette">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(76)">
                                            <img class="img-responsive"
                                                 src="/images/escorts/7_copy2.jpg"
                                                 alt="Ally - VIP independent escort"
                                                 title="Ally - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Ally</h3>
                                    <p>Call Me: <a href="tel:+1702-420-22-11">702-420-22-11</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(77)">
                                            <img class="img-responsive"
                                                 src="/images/escorts/3_copy5.jpg"
                                                 alt="Bella - VIP independent escort"
                                                 title="Bella - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Bella</h3>
                                    <p>Call Me: <a href="tel:+1702-420-22-11">702-420-22-11</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Black">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(105)">
                                            <img class="img-responsive"
                                                 src="/images/escorts/5_copy2.jpg"
                                                 alt="Kissy - VIP independent escort"
                                                 title="Kissy - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Kissy</h3>
                                    <p>Call Me: <a href="tel:+1702-420-22-11">702-420-22-11</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Brunette">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(72)">
                                            <img class="img-responsive"
                                                 src="/images/escorts/5_copy14.jpg"
                                                 alt="Brianna - VIP independent escort"
                                                 title="Brianna - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Brianna</h3>
                                    <p>Call Me: <a href="tel:+1702-420-22-11">702-420-22-11</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 2 171-175 101-120 Blonde">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(94)">
                                            <img class="img-responsive"
                                                 src="/images/escorts/1_copy28.jpg"
                                                 alt="Lauren - VIP independent escort"
                                                 title="Lauren - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Lauren</h3>
                                    <p>Call Me: <a href="tel:+1702-420-22-11">702-420-22-11</a></p>
                                </div>
                            </div>
                        </li>
                        <li style="display: block;" class="20-23 3 171-175 101-120 Blonde">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="escort_display">
                                    <div class="escorts_pic_block">
                                        <a href="@ProfileLib.GetUrl(75)">
                                            <img class="img-responsive"
                                                 src="/images/escorts/6_copy2.jpg"
                                                 alt="Candice - VIP independent escort"
                                                 title="Candice - VIP independent escort" />
                                        </a>
                                    </div>
                                </div>
                                <div class="escort_description">
                                    <h3>Candice</h3>
                                    <p>Call Me: <a href="tel:+1702-420-22-11">702-420-22-11</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <div class="article_banner_block">
                        <a href="#" rel="nofollow">
                            <img src="/images/discount.jpg"
                                 alt="Discounts available" title="Discounts available"
                                 class="img-responsive" />
                        </a>
                    </div>
                    <p>
                        These gorgeous girls know how to provide the royal treatment and get that red carpet rolled out for you. A Las Vegas VIP escort can make the difference between seeing the action and being right there in the middle of it all. And if you are going to check out those places where everyone goes to "see and be seen", of course you want to do it with one of our exceptional beauties by your side!
                    </p><br />
                    <img src="/images/pages/007.jpg" style="float:right;margin: 7px 0 7px 7px;"
                         alt="VIP escorts" title="VIP escorts" class="img-responsive">
                    <p>
                        Our VIP escorts in Las Vegas are the finest in the industry, with killer bodies, drop-dead good looks, manners and feminine demeanor worthy of any charm school, plus the wiles and wit to get you into the places you want to go and keep the conversation lively and the good time going. They possess polished dance skills and are skilled in the arts of entertaining and pleasing you in every way. Our VIP escorts in Vegas are goal-oriented, and their only goal is your total satisfaction.
                    </p><br />
                    <p>
                        <div class="article_banner_block">
                            <a href="http://www.vegaseroticmassage.com/" target="_blank"
                               rel="nofollow">
                                <img src="/images/vegas_photo.jpg" alt="" title=""
                                     class="img-responsive" />
                            </a>
                        </div>
                    </p>
                    <p>
                        People move to and from Las Vegas like it's a revolving door, which makes finding a quality VIP escort in Las Vegas difficult as many people don't stay here long enough to really know the ins and outs and be able to offer the true VIP experience. We've taken any guesswork out of the equation by making sure our VIP escorts really know their business and their city well. With one of our VIP escorts Las Vegas will be laid before you like an open book just waiting for you to decide which page to explore.
                    </p><br />
                    <p>
                        Whatever your specific needs or tastes, we have the VIP Vegas escorts to meet them. <a title="Blonde Escorts"
                                                                                                               href="/blonde-escorts.php">Blonde escorts</a>, brunette escorts, red-haired, Asian, <a title="Black Escorts"
                                                                                                                                                                                                      href="/black-escorts.php">black</a>, <a title="Russian Escorts"
                                                                                                                                                                                                                                              href="/russian-escorts.php">Russian escorts</a>... We have all types of girls among our Las Vegas VIP escorts who are waiting to treat you to the time of your life.
                    </p><br />
                    <p>
                        Spend some time with one of our exclusive Las Vegas VIP escorts and you will leave Las Vegas feeling like a high roller whether the gaming tables were good to you or not!
                    </p><br />


                </div>
            </div>
            <h2>Check other types of escorts</h2><br />
            <div class="promotional_part">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Asian Independent Escorts" href="/asian-escorts.php">
                                    Asian
                                    Escorts
                                </a>
                            </p><br />
                            <p>
                                <a title="Black Independent Escorts" href="/black-escorts.php">
                                    Black
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Blonde Independent Escorts"
                                   href="/blonde-escorts.php">Blonde Escorts</a>
                            </p><br />
                            <p>
                                <a title="Female Independent Escorts"
                                   href="/female-escorts.php">Female Escorts</a>
                            </p><br />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="promotional_block">
                            <p>
                                <a title="Russian Independent Escorts"
                                   href="/russian-escorts.php">Russian Escorts</a>
                            </p><br />
                            <p>
                                <a title="Young Independent Escorts" href="/young-escorts.php">
                                    Young
                                    Escorts
                                </a>
                            </p><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="left_col_container">
                        <p>Girls available for you Mo - Su: 0:00 - 0:00</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="right_col_container">
                        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Las+Vegas+Blvd&amp;aq=&amp;sll=36.114667,-115.109575&amp;sspn=0.003129,0.005681&amp;ie=UTF8&amp;hq=&amp;hnear=S+Las+Vegas+Blvd&amp;t=m&amp;ll=36.111807,-115.169764&amp;spn=0.040217,0.051842&amp;z=14&amp;output=embed"
                                width="100%" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="right_col_container">
                <h2>Advance Filter</h2>
                <div class="advance_filter_container">
                    <div class="advance_filter_block">
                        <h5>Age</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#20-23" title="" rel="20-23">20-23</a></li>
                                <li><a href="#24-27" title="" rel="24-27">24-27</a></li>
                                <li><a href="#28-30" title="" rel="28-30">28-30</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Bust</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#1" title="" rel="1">A</a></li>
                                <li><a href="#2" title="" rel="2">B</a></li>
                                <li><a href="#3" title="" rel="3">C</a></li>
                                <li><a href="#4" title="" rel="4">D</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Height</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#165-170" title="" rel="165-170">165-170</a></li>
                                <li><a href="#171-175" title="" rel="171-175">171-175</a></li>
                                <li><a href="#176-180" title="" rel="176-180">176-180</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Weight</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#80-100" title="" rel="80-100">80-100</a></li>
                                <li><a href="#101-120" title="" rel="101-120">101-120</a></li>
                                <li><a href="#121-140" title="" rel="121-140">121-140</a></li>
                                <li><a href="#141-160" title="" rel="141-160">141-160</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="advance_filter_block">
                        <h5>Hair Color</h5>
                        <div class="filter_option">
                            <ul id="portfolio-filter" style="margin-top:5px !important;">
                                <li><a href="#Black" title="" rel="Black">Black</a></li>
                                <li><a href="#Brunette" title="" rel="Brunette">Brunette</a></li>
                                <li><a href="#Blonde" title="" rel="Blonde">Blonde</a></li>
                                <li><a href="#all" title="">All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>